<br><br><br><br><br><br>

<p>
  <a href="<%= new_event_path %>" class="btn btn-success">Créer ton évènement ici!</a>
</p>
<br><br>
<% @events.each do |event| %>
  <h2><strong>Nom de l'évènement: </strong><%= event.title %></h2>
  <p>
    <a href="<%= event_path(event.id) %>" class="btn btn-primary">Lire la suite</a>
  </p>
<% end %>

